:host {
    --color-texto: #000;
    --color-borde: red;
}

.row {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 80%;
}

.col-4 {
    flex: 1 0 33.33%;
    padding: 10px;
    border: 1px solid var(--color-borde);
}

.col-6 {
    flex: 1 0 33.33%;
    padding: 10px;
    border: 1px solid var(--color-borde);
}

p {
    text-align: center;
}