<div class="row">
    <p>Datos perosnales</p>
    <div class="col-4">
        Nombre completo: 
        <input type="text" placeholder="Nombre completo">
    </div>
    <div class="col-4">
        Apellidos completos: 
        <input type="text" placeholder="Apellido">
    </div>
    <div class="col-4">
        Correo electronicos: 
        <input type="text" placeholder="correo electronico">
    </div>
</div>

<div class="row">
    <p>Estudios</p>
    <div class="col-4">
        Instituto o universidad: 
        <input type="text" placeholder="Instituto o universidad">
    </div>
    <div class="col-4">
        Carrera / profesion: 
        <input type="text" placeholder="Carrera / profesion">
    </div>
    <div class="col-4">
        Correo electronicos: 
        <input type="text" placeholder="correo electronico">
    </div>
</div>

<div class="row">
    <p>Experencia</p>
    <div class="col-6">
        Numero de experiencia
        <input type="number" placeholder="Numero de experiencia">
    </div>

    <div class="col-6">
        Lenguajes
        <input type="text" placeholder="Lenguajes">
    </div>

</div>