<div class="row">
    <p>Datos perosnales</p>
    <div class="col-4">
        Nombres completos: 
        <input type="text" placeholder="Nombre completo">
    </div>
    <div class="col-4">
        Apellidos completos: 
        <input type="text" placeholder="Apellido">
    </div>
    <div class="col-4">
        Correo Electronicos : 
        <input type="text" placeholder="correo electronico">
    </div>
</div>

<div class="row">
    <p>Estudios obtenidos</p>
    <div class="col-4">
        Instituto o universidad: 
        <input type="text" placeholder="Instituto o universidad">
    </div>
    <div class="col-4">
        Profesión / Carrera :
        <br>
        <input type="text" placeholder="Carrera / profesion">
    </div>
    <div class="col-4">
        Certificación obtenido: 
        <input type="text" placeholder="Certificación obtenido">
    </div>
</div>


<div class="row">
    <p>Experencia</p>
    <div class="col-6">
        Nombre de la empresa:
        <input type="number" placeholder="Numero de experiencia">
    </div>
    <div class="col-6">
        Cantidad de experiencia :
        <input type="number" placeholder="Numero de experiencia">
    </div>

    <div class="col-6">
        Lenguaje de programación:
        <input type="text" placeholder="Lenguajes">
    </div>
</div>
